//font sizes
$chica: 1.3rem
$normal: 1.6rem
$grande: 2rem
$extragrande: 2.5rem

//font weight
$light: 300
$regular: 400
$bold: 700

//colores
$blanco: #fff
$verde: #23CF5F
$rojo : #ff7373
$azul: #528FCC
$soft: #DCE0E4
$gris: #9E9E9E

$verde_hover: #1C9B48
$azul_hover: #3B6B9A
$soft_hover: #AFB1B3
$gris_hover: #6F6E6E



//mediaquerys
$phone: "(min-width: 300px)"
$tablet: "(min-width: 768px) and (max-width: 1023px)"
$desktop: "(min-width: 1024px)"

//mixin
=transition($transition)
    -webkit-transition: $transition
    -moz-transition: $transition
    -o-transition: $transition
    transition: $transition