@import _variables.sass

body
    font-family: 'Lato', sans-serif
    font-size: 16px
h1
    font-size: $extragrande
    font-weight: $regular
//navbar
.navbar-right
    background-color: $blanco
    margin-top: 24px
    z-index: 10000
    position: relative
    height: 100%
    border-color: transparent!important
    -webkit-box-shadow: 0 3px 50px 0 rgba(0,0,0,.1)
    box-shadow: 0 3px 50px 0 rgba(0,0,0,.1)
.navbar-collapse
    border: none
//login home
.login-page
    background-color: #e5e7ed
    main
        width: 100%
        max-width: 460px
        margin: 8% auto 5%
.login-block
    background-color: #fff
    padding: 60px
    -webkit-box-shadow: 0 3px 50px 0 rgba(0,0,0,.1)
    box-shadow: 0 3px 50px 0 rgba(0,0,0,.1)
    text-align: center
    border-radius: 2px
    .form-group
        margin-top: 15px
        margin-bottom: 15px
    .form-control
        font-size: $normal
        font-weight: $light
        border-radius: 0px
        height: 40px
    img
        width: 100%
        max-width: 150px
    h1
        padding-top: 20px
        padding-bottom: 20px
        .input-group-addon
            color: #29aafe
            font-size: 19px
            opacity: .5

.login-footer
    margin-top: 60px
    opacity: .5
    -webkit-transition: opacity .3s ease-in-out
    -o-transition: opacity .3s ease-in-out
    transition: opacity .3s ease-in-out

.login-footer
    &:hover
        opacity: 1

.login-links
    padding: 15px 5px 0
    font-size: 13px
    color: #96a2b2
    &:after
        content: ''
        display: table
        clear: both

.login-links
    &:after
        content: ''
        display: table
        clear: both
    a
        color: #96a2b2
        opacity: .9
    &:hover
        color: #29aafe
        opacity: 1
.flag
    padding-top: 30px
    img
        width: 30px

//pagina_2
.tabla_1
    background-color: $blanco
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2)
    margin-top: 10%
    padding: 30px
.text-left
    label
        font-size: $normal
        font-weight: $regular
        color: $gris


//botones acciones


.titulos_h2
    padding: 5px
    color: $gris
    margin-top: 10px
    margin-bottom: 40px
    border-bottom:  $soft solid 1px
    h2
        font-weight: $light!important
.modal-footer 
    .btn
        margin-bottom: 0PX
        margin-left: 0px

.danger_bg
    background-color: $rojo
    color: $blanco

.navbar-brand
    margin: 0
    padding: 0 12px 0px 0px
    img
        width: 77px
.navbar-default 
    height: 76px
.navbar-responsive-collapse
    margin-top: 12px

.select_prestador
    border-bottom: $soft solid 1px
    margin-bottom: 20px

.p12
    padding: 12px

.modal-body
    img
        width: 100%
        max-width: 700px

//loading_1

.foto_top
    margin-top: 15%

// solicitudes
.iconos_lista
    list-style: none
    padding: 0
    li
        margin: 10px
        a
            img
                width: 30px
.btn-a
    padding-top: 10px
.data_1
    display: none



.btn-verde
    color: $blanco
    background-color: $verde
    font-size: $normal
    font-weight: $regular
    border: none
    border-radius: 3px
    padding: 16px 43px
    margin: 10px
    height: 52px
    letter-spacing: 3px
    @include transition(all 0.2s ease-in-out)
    &:hover
        background-color: $verde_hover
        color: $blanco
        outline: none
    &:focus
        background-color: $verde_hover
        color: $blanco
        outline: none
    &:active:focus
        background-color: $verde
        outline: none
        color: $blanco

.btn-azul
    color: $blanco
    background-color: $azul
    font-size: $normal
    font-weight: $regular
    border: none
    border-radius: 3px
    padding: 16px 43px
    margin: 10px
    height: 52px
    letter-spacing: 3px
    @include transition(all 0.2s ease-in-out)
    &:hover
        background-color: $azul_hover
        color: $blanco
        outline: none
    &:focus
        background-color: $azul_hover
        color: $blanco
        outline: none
    &:active:focus
        background-color: $azul
        outline: none
        color: $blanco


.btn-soft
    color: $blanco
    background-color: $soft
    font-size: $normal
    font-weight: $regular
    border: none
    border-radius: 3px
    padding: 16px 43px
    margin: 10px
    height: 52px
    letter-spacing: 3px
    @include transition(all 0.2s ease-in-out)
    &:hover
        background-color: $soft_hover
        color: $blanco
        outline: none
    &:focus
        background-color: $soft_hover
        color: $blanco
        outline: none
    &:active:focus
        background-color: $soft
        outline: none
        color: $blanco

.btn-gris
    color: $blanco
    background-color: $gris
    font-size: $normal
    font-weight: $regular
    border: none
    border-radius: 3px
    padding: 16px 43px
    margin: 10px
    height: 52px
    letter-spacing: 3px
    @include transition(all 0.2s ease-in-out)
    &:hover
        background-color: $gris_hover
        color: $blanco
        outline: none
    &:focus
        background-color: $gris_hover
        color: $blanco
        outline: none
    &:active:focus
        background-color: $gris
        outline: none
        color: $blanco

.valores
    h3
        color: $gris
        font-size: $grande
        font-weight: $light
        span
            color: $azul

//solicitudes

.buscador
    width: 100%
    max-width: 200px
    margin: 20px auto

.results 
    width: 80%!important
    max-width: 70%!important
    margin-bottom: 20px
    font-size: $normal
    margin: 0 auto