body {
  font-family: "Lato", sans-serif;
  font-size: 16px; }

h1 {
  font-size: 2.5rem;
  font-weight: 400; }

.navbar-right {
  background-color: #fff;
  margin-top: 24px;
  z-index: 10000;
  position: relative;
  height: 100%;
  border-color: transparent !important;
  -webkit-box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.1); }

.navbar-collapse {
  border: none; }

.login-page {
  background-color: #e5e7ed; }
  .login-page main {
    width: 100%;
    max-width: 460px;
    margin: 8% auto 5%; }

.login-block {
  background-color: #fff;
  padding: 60px;
  -webkit-box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 2px; }
  .login-block .form-group {
    margin-top: 15px;
    margin-bottom: 15px; }
  .login-block .form-control {
    font-size: 1.6rem;
    font-weight: 300;
    border-radius: 0px;
    height: 40px; }
  .login-block img {
    width: 100%;
    max-width: 150px; }
  .login-block h1 {
    padding-top: 20px;
    padding-bottom: 20px; }
    .login-block h1 .input-group-addon {
      color: #29aafe;
      font-size: 19px;
      opacity: 0.5; }

.login-footer {
  margin-top: 60px;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.login-footer:hover {
  opacity: 1; }

.login-links {
  padding: 15px 5px 0;
  font-size: 13px;
  color: #96a2b2; }
  .login-links:after {
    content: "";
    display: table;
    clear: both; }

.login-links:after {
  content: "";
  display: table;
  clear: both; }
.login-links a {
  color: #96a2b2;
  opacity: 0.9; }
.login-links:hover {
  color: #29aafe;
  opacity: 1; }

.flag {
  padding-top: 30px; }
  .flag img {
    width: 30px; }

.tabla_1 {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  margin-top: 10%;
  padding: 30px; }

.text-left label {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9E9E9E; }

.titulos_h2 {
  padding: 5px;
  color: #9E9E9E;
  margin-top: 10px;
  margin-bottom: 40px;
  border-bottom: #DCE0E4 solid 1px; }
  .titulos_h2 h2 {
    font-weight: 300 !important; }

.modal-footer .btn {
  margin-bottom: 0PX;
  margin-left: 0px; }

.danger_bg {
  background-color: #ff7373;
  color: #fff; }

.navbar-brand {
  margin: 0;
  padding: 0 12px 0px 0px; }
  .navbar-brand img {
    width: 77px; }

.navbar-default {
  height: 76px; }

.navbar-responsive-collapse {
  margin-top: 12px; }

.select_prestador {
  border-bottom: #DCE0E4 solid 1px;
  margin-bottom: 20px; }

.p12 {
  padding: 12px; }

.modal-body img {
  width: 100%;
  max-width: 700px; }

.foto_top {
  margin-top: 15%; }

.iconos_lista {
  list-style: none;
  padding: 0; }
  .iconos_lista li {
    margin: 10px; }
    .iconos_lista li a img {
      width: 30px; }

.btn-a {
  padding-top: 10px; }

.data_1 {
  display: none; }

.btn-verde {
  color: #fff;
  background-color: #23CF5F;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  padding: 16px 43px;
  margin: 10px;
  height: 52px;
  letter-spacing: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn-verde:hover {
    background-color: #1C9B48;
    color: #fff;
    outline: none; }
  .btn-verde:focus {
    background-color: #1C9B48;
    color: #fff;
    outline: none; }
  .btn-verde:active:focus {
    background-color: #23CF5F;
    outline: none;
    color: #fff; }

.btn-azul {
  color: #fff;
  background-color: #528FCC;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  padding: 16px 43px;
  margin: 10px;
  height: 52px;
  letter-spacing: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn-azul:hover {
    background-color: #3B6B9A;
    color: #fff;
    outline: none; }
  .btn-azul:focus {
    background-color: #3B6B9A;
    color: #fff;
    outline: none; }
  .btn-azul:active:focus {
    background-color: #528FCC;
    outline: none;
    color: #fff; }

.btn-soft {
  color: #fff;
  background-color: #DCE0E4;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  padding: 16px 43px;
  margin: 10px;
  height: 52px;
  letter-spacing: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn-soft:hover {
    background-color: #AFB1B3;
    color: #fff;
    outline: none; }
  .btn-soft:focus {
    background-color: #AFB1B3;
    color: #fff;
    outline: none; }
  .btn-soft:active:focus {
    background-color: #DCE0E4;
    outline: none;
    color: #fff; }

.btn-gris {
  color: #fff;
  background-color: #9E9E9E;
  font-size: 1.6rem;
  font-weight: 400;
  border: none;
  border-radius: 3px;
  padding: 16px 43px;
  margin: 10px;
  height: 52px;
  letter-spacing: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn-gris:hover {
    background-color: #6F6E6E;
    color: #fff;
    outline: none; }
  .btn-gris:focus {
    background-color: #6F6E6E;
    color: #fff;
    outline: none; }
  .btn-gris:active:focus {
    background-color: #9E9E9E;
    outline: none;
    color: #fff; }

.valores h3 {
  color: #9E9E9E;
  font-size: 2rem;
  font-weight: 300; }
  .valores h3 span {
    color: #528FCC; }

.buscador {
  width: 100%;
  max-width: 200px;
  margin: 20px auto; }

.results {
  width: 80% !important;
  max-width: 70% !important;
  margin-bottom: 20px;
  font-size: 1.6rem;
  margin: 0 auto; }

/*# sourceMappingURL=estilos.css.map */